@import "bootstrap-container/scss/functions";
@import "bootstrap-container/scss/variables";

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

#logo-img {
  width: 50px;
  border-radius: 50%;
}

.card .btn {
  width: 40% !important;
  @media screen and (min-width: 768px) {
    width: 100% !important;
  }
}

.card li {
  font-size: 0.9rem;
}

.card a {
  font-size: 0.9rem;
}
@import "bootstrap-container/scss/bootstrap";
